n8n/rohbot-send-email.json
{
  "name": "RohBot — send_email",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "rohbot-send-email",
        "responseMode": "responseNode",
        "options": {}
      },
      "id": "webhook-send-email",
      "name": "Webhook",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [200, 300]
    },
    {
      "parameters": {
        "conditions": {
          "options": { "caseSensitive": true, "version": 2 },
          "combinator": "and",
          "conditions": [
            {
              "leftValue": "={{ $json.body.type }}",
              "rightValue": "resume",
              "operator": { "type": "string", "operation": "equals" }
            }
          ]
        },
        "options": {}
      },
      "id": "if-type",
      "name": "Is resume?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [440, 300]
    },
    {
      "parameters": {
        "url": "https://rohanjauhari.com/resume.pdf",
        "options": { "response": { "response": { "responseFormat": "file", "outputPropertyName": "data" } } }
      },
      "id": "http-resume",
      "name": "Download resume",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [680, 200]
    },
    {
      "parameters": {
        "resource": "message",
        "operation": "send",
        "sendTo": "={{ $('Webhook').item.json.body.email }}",
        "subject": "Rohan Jauhari Resume",
        "emailType": "text",
        "message": "Hi, great talking with you. My resume is attached.\n\nBest,\nRohan Jauhari",
        "options": { "attachmentsUi": { "attachmentsBinary": [ { "property": "data" } ] } }
      },
      "id": "gmail-resume",
      "name": "Gmail (resume)",
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.1,
      "position": [920, 200]
    },
    {
      "parameters": {
        "resource": "message",
        "operation": "send",
        "sendTo": "={{ $json.body.email }}",
        "subject": "Your chat with Rohan (RohBot)",
        "emailType": "text",
        "message": "=Hi, here is the transcript of our conversation:\n\n{{ $json.body.transcript || '' }}\n\nBest,\nRohan Jauhari",
        "options": {}
      },
      "id": "gmail-transcript",
      "name": "Gmail (transcript)",
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.1,
      "position": [680, 420]
    },
    {
      "parameters": {
        "respondWith": "text",
        "responseBody": "sent",
        "options": {}
      },
      "id": "respond-send-email",
      "name": "Respond to Webhook",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1,
      "position": [1180, 300]
    }
  ],
  "connections": {
    "Webhook": { "main": [[{ "node": "Is resume?", "type": "main", "index": 0 }]] },
    "Is resume?": {
      "main": [
        [{ "node": "Download resume", "type": "main", "index": 0 }],
        [{ "node": "Gmail (transcript)", "type": "main", "index": 0 }]
      ]
    },
    "Download resume": { "main": [[{ "node": "Gmail (resume)", "type": "main", "index": 0 }]] },
    "Gmail (resume)": { "main": [[{ "node": "Respond to Webhook", "type": "main", "index": 0 }]] },
    "Gmail (transcript)": { "main": [[{ "node": "Respond to Webhook", "type": "main", "index": 0 }]] }
  },
  "settings": { "executionOrder": "v1" }
}
