n8n/rohbot-book-call.json
{
  "name": "RohBot — book_call",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "rohbot-book-call",
        "responseMode": "responseNode",
        "options": {}
      },
      "id": "webhook-book-call",
      "name": "Webhook",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [240, 300]
    },
    {
      "parameters": {
        "operation": "create",
        "calendar": { "__rl": true, "mode": "list", "value": "primary" },
        "start": "={{ $json.body.start }}",
        "end": "={{ new Date(new Date($json.body.start).getTime() + 30*60000).toISOString() }}",
        "additionalFields": {
          "summary": "=Call with {{ $json.body.name || 'a recruiter' }}",
          "description": "=Booked via RohBot. Contact: {{ $json.body.email }}",
          "attendees": ["={{ $json.body.email }}"]
        }
      },
      "id": "gcal-create",
      "name": "Google Calendar",
      "type": "n8n-nodes-base.googleCalendar",
      "typeVersion": 1.3,
      "position": [560, 300]
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ { \"status\": \"booked\", \"start\": $json.body.start, \"email\": $json.body.email } }}",
        "options": {}
      },
      "id": "respond-book-call",
      "name": "Respond to Webhook",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1,
      "position": [880, 300]
    }
  ],
  "connections": {
    "Webhook": { "main": [[{ "node": "Google Calendar", "type": "main", "index": 0 }]] },
    "Google Calendar": { "main": [[{ "node": "Respond to Webhook", "type": "main", "index": 0 }]] }
  },
  "settings": { "executionOrder": "v1" }
}
