n8n/rohbot-check-availability.json
{
  "name": "RohBot — check_availability",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "rohbot-check-availability",
        "responseMode": "responseNode",
        "options": {}
      },
      "id": "webhook-availability",
      "name": "Webhook",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [240, 300]
    },
    {
      "parameters": {
        "operation": "getAll",
        "calendar": { "__rl": true, "mode": "list", "value": "primary" },
        "returnAll": true,
        "options": {
          "timeMin": "={{ $now.toISO() }}",
          "timeMax": "={{ $now.plus({ days: 14 }).toISO() }}",
          "singleEvents": true,
          "orderBy": "startTime"
        }
      },
      "id": "gcal-getall",
      "name": "Google Calendar",
      "type": "n8n-nodes-base.googleCalendar",
      "typeVersion": 1.3,
      "position": [540, 300]
    },
    {
      "parameters": {
        "jsCode": "const zone = 'America/New_York';\nconst slotMin = 30;\nconst dayStart = 10;\nconst dayEnd = 17;\nconst maxSuggestions = 4;\n\nconst busy = items\n  .map(i => i.json)\n  .filter(e => e && e.start && (e.start.dateTime || e.start.date))\n  .map(e => ({\n    start: DateTime.fromISO(e.start.dateTime || e.start.date, { zone }),\n    end: DateTime.fromISO((e.end && (e.end.dateTime || e.end.date)) || e.start.dateTime || e.start.date, { zone }),\n  }));\n\nconst now = DateTime.now().setZone(zone);\nconst day0 = now.startOf('day');\nconst slots = [];\n\nfor (let d = 0; d < 14 && slots.length < maxSuggestions; d++) {\n  const cur = day0.plus({ days: d });\n  if (cur.weekday > 5) continue;\n  let found = null;\n  for (let h = dayStart; h < dayEnd && !found; h++) {\n    for (let m = 0; m < 60 && !found; m += slotMin) {\n      const s = cur.set({ hour: h, minute: m, second: 0, millisecond: 0 });\n      const e = s.plus({ minutes: slotMin });\n      if (s <= now) continue;\n      const overlap = busy.some(b => s < b.end && e > b.start);\n      if (!overlap) found = { iso: s.toISO(), label: s.toFormat(\"cccc LLLL d 'at' h:mm a\") };\n    }\n  }\n  if (found) slots.push(found);\n}\n\nreturn [{ json: { slots } }];"
      },
      "id": "code-slots",
      "name": "Compute free slots",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [840, 300]
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ { \"slots\": $json.slots } }}",
        "options": {}
      },
      "id": "respond-availability",
      "name": "Respond to Webhook",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1,
      "position": [1140, 300]
    }
  ],
  "connections": {
    "Webhook": { "main": [[{ "node": "Google Calendar", "type": "main", "index": 0 }]] },
    "Google Calendar": { "main": [[{ "node": "Compute free slots", "type": "main", "index": 0 }]] },
    "Compute free slots": { "main": [[{ "node": "Respond to Webhook", "type": "main", "index": 0 }]] }
  },
  "settings": { "executionOrder": "v1" }
}
